<footer>
    <nav>
        <ul>
            <li class="menu-li"><a href="/">Home</a></li>
            <li class="menu-li"><a href="/math">Math</a></li>
            <li class="menu-li"><a href="/profile">Profile</a></li>
            <li class="menu-li"><a href="/slide-show">SlideShow</a></li>
            <li class="menu-li"><a href="/ASSIGNMENT">Assignment</a></li>
            <li class="menu-li"><a href="/myprofile">My Profile</a></li>
            <li class="menu-li"><a href="/terms/#privacy">Terms</a></li>

        </ul>
    </nav>
</footer>