<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    
    <link rel="stylesheet" href="/css/style.css" />
    <meta name="viewport" content="width=device=width, initial-scale=1" />
    <title>Smart Home Monitoring Interface</title>
  </head>
  <h1 class="header">HARRISON'S SMARTHOME</h1>
  <body>
    <%- include('layouts/menu') -%>

    <div class="Navitgation">
      <ul>
        <li><a href="ASSIGNMENT.html">Home</a></li>
        <li><a href="profile.html">Profile</a></li>
      </ul>
    </div>

    <main>
    <div class="profile_pic">
    <img src="https://thumbs.dreamstime.com/b/profile-placeholder-image-gray-silhouette-no-photo-person-avatar-default-pic-used-web-design-173997790.jpg" width="200px" height="200px"/>
    </div>
    </main>
  <br/>
  <div class="inputs"><label>First Name: </label><input type="text" placeholder="Enter Your Name" id="Name" /></div>
  <br/>
  <div class="inputs"><label>Last Name: </label><input type="text" placeholder="Enter Your Last Name" id="Last_name" /></div>
  <br/>
  <div class="inputs"><label>Email: </label><input type="text" placeholder="Enter Your Email" id="Email" /></div>
  <br/>
  <div class="inputs"> <label> Birthday:</label>
    <select id="BirthDay">
      <option value="">-- Select your birthday --</option>
      <option value="01">01</option>
      <option value="02">02</option>
      <option value="03">03</option>
      <option value="04">04</option>
      <option value="05">05</option>
      <option value="06">06</option>
      <option value="07">07</option>
      <option value="08">08</option>
      <option value="09">09</option>
      <option value="10">10</option>
      <option value="11">11</option>
      <option value="12">12</option>
      <option value="13">13</option>
      <option value="14">14</option>
      <option value="15">15</option>
      <option value="16">16</option>
      <option value="17">17</option>
      <option value="18">18</option>
      <option value="19">19</option>
      <option value="20">20</option>
      <option value="21">21</option>
      <option value="22">22</option>
      <option value="23">23</option>
      <option value="24">24</option>
      <option value="25">25</option>
      <option value="26">26</option>
      <option value="27">27</option>
      <option value="28">28</option>
      <option value="29">29</option>
      <option value="30">30</option>
      <option value="31">31</option>
      
      
    </select>
    <select id="BirthMonth">
      <option value="">-- Select your birth month --</option>
      <option value="01">January</option>
      <option value="02">February</option>
      <option value="03">March</option>
      <option value="04">April</option>
      <option value="05">May</option>
      <option value="06">June</option>
      <option value="07">July</option>
      <option value="08">August</option>
      <option value="09">September</option>
      <option value="10">October</option>
      <option value="11">November</option>
      <option value="12">December</option>
  </div>
  <div class="inputs"><label>Year: </label><input type="text" placeholder="Enter year of Birth" id="year" /></div>
<br/>
<div class="inputs"><label>Create Pasword: </label
  ><input  
  type="password" 
  placeholder="Create a Password" 
  id="password" 
  pattern="(?=.*[a-z])(?=.*[A-Z]).{8,}" 
  required
  title="At least 8 characters needed, 1 upper and 1 lower case."
  /></div>
  <br/>
<div class="inputs"><label>Confrim Password: </label
  ><input 
  type="text" 
  placeholder="Confirm Password" 
  id="confirm" 
  pattern="(?=.*[a-z])(?=.*[A-Z]).{8,}"
  required
  title="At least 8 characters needed, 1 upper and 1 lower case."
  /></div>
<br/>
  <input type="submit" value="Submit" id="submit-btn">
  <button  id="reset-btn" type="reset" onclick="location.reload()">Reset</button>
  <div>
    <h2>Current User Settings</h2>
    <div>
      <label>Name&nbsp;&nbsp;</label
      ><span id="user_first_name" class="current-setting">Lance</span>
      <span id="user_last_name" class="current-setting">Strulovich</span>
    </div>
    <div>
      <label>Email&nbsp;&nbsp;</label
      ><span id="user_email" class="current-setting"
        >daddysboy@aston.co.uk</span
      >
    </div>
    <div>
      <label>Date of Birth&nbsp;&nbsp;</label
      ><span id="user_dob" class="current-setting">7 February 1991</span>
    </div>
    <div>
      <label>Password Updated&nbsp;&nbsp;</label
      ><span id="user_password_last_changed" class="current-setting"
        >1 March 2023</span
      >
    </div>
  </div>
  </main>
   
  <footer>
    <%- include('layouts/footer') -%>
     </footer>
  <script src="/js/profile.js"></script>
  </body>
</html>