<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Random Pics</title>
    <link rel="stylesheet" href="css/style.css">

</head>
<body>
    <%- include('layouts/menu') -%>

    <main>
        <h1>Random Pics</h1>

        <ul id="image_list">
            <li><a href="images/DirtBike.jpg" title="Honda 250"></a></li>
            <li><a href="images/DirtBike2.jpg" title="Yamaha 250"></a></li>
            <li><a href="images/DirtBike3.jpg" title="Kawasaki 250"></a></li>
            <li><a href="images/DirtBike4.jpg" title="Suzuki 250"></a></li>
            <li><a href="images/DirtBike5.jpg" title="KTM 250"></a></li>

        </ul>
    
        <p><img id="main_image" src="images/DirtBike.jpg" alt="loading..."></p>
        <h2 id="caption">loading...</h2> 
        <div><button id="prev_button">&lt;= Previous</button>  
       <button id="next_button">Next =&gt;</button></div>   

        <script src="js/slide-show.js"></script>
    </main>  
    <footer>
        <%- include('layouts/footer') -%>
         </footer>
</body>
</html>