ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(10, 142, 182);
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.menu-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #118a39;
}
.menu-li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  float: left;
}
li a:hover {
  background-color: rgb(10, 143, 99);
}
header {
  text-align: center;
}
.slider {
  -webkit-appearance: none;
  width: 25%;
  height: 10px;
  background: #91b4e2;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #534caf;
  cursor: pointer;
}


main{
  text-align: center;
  padding-top: 5%;
  background-color: aliceblue;
  
  
}
.inputs{
  font-size: xx-large;
  
}
.BirthDay{
  font-size: x-large;
}
body{
  padding-bottom: 5%;
  border: solid;
  text-align: center;
  background-color: aliceblue;
}
#reset-btn{
  background-color: lightblue;
 
  border-radius: 40px;
  margin-left: 20px;
  
}
#submit-btn{
background-color: rgb(47, 113, 255);
width: 150px;

}
profile_pic{
  padding-top: 5%;
  padding-bottom: 5%;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
  margin: 0 auto;
  width: 700px;
  border: 3px solid rgb(20, 34, 58);
  padding: 0 2em 1em;

}
h1 {
  color: rgb(114, 100, 237);
}
div {
  margin-bottom: .5em;
}
label {
  display: inline-block;
  width: 11em;
  text-align: right;
  font-size: x-large
}
input {
  margin-left: 1em;
  margin-right: 0.5em;
  font-size: x-large;
}

span {
  color:black;
  font-size: x-large;

}

.error-span {
  color: red;
}

.current-setting{
  font-weight: bold;
}

label {
  font-size: 25px
  ;
}

select {
  margin-left: 1em;
  margin-right: 0.5em;
  width: 11em;
}

button {
  margin-left: 1.5em;
  width: 10em
  ;
  font-size: x-large;
}


h2 {
  color: cornflowerblue;
  text-align: center;
}

p {
  text-align: center;
}

.menu-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #7d2f8d;
}



.menu-li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  float: left;
}

/* Change the link color to #111 (black) on hover */
.menu-li a:hover {
  background-color: cornflowerblue;
}
.hidden{
  display: none;
}
#image_list{
  display: none;
}
#main_image{
width: 500px;
}
@media only screen and (max-width: 480px) {
  /* Styles for screens with maximum width of 480px, such as iPhones */
  .header {
    font-size: 24px;
  }
}
body {
  text-align: center;
  font-size: 24px;
  font-family: Arial, sans-serif;
}
h1 {
  margin-top: 50px;
}
.button1 {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: bold;
  background-color: #af4caa;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  font-family: "Lucida Console", "Courier New", monospace;

}
.button2 {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: bold;
  background-color: #4c9baf;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  font-family: "Lucida Console", "Courier New", monospace;

}.button3 {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: bold;
  background-color: #c3e469;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  font-family: "Lucida Console", "Courier New", monospace;

}
.button:hover {
  background-color: #a73854;
}
.result {
  margin-top: 20px;
  font-size: 32px;
  font-weight: bold;
  font-family: "Lucida Console", "Courier New", monospace;
  color: orange;
}
